@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@600;700&display=swap');

:root {
    --russianviolet:#46b4f4;
    --murrey:#fe70be;
    --folly:#ff005da9;
    --blur:#ffd1d14d;
    --pennrred:#52e0fd;
    --engineeringorange:#4b69fc;
    --sinopia:#0260dc;
    --persimmon:#0426e8;
    --princetonorange:#f48c06;
    --orange:#faa307;
    --selectiveyellow:#ffba08;
}

* {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    outline: none;
    margin: 0;
    padding: 0;
    max-height: 100%;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    min-height: 650px;
    margin: 0 auto;
    background-position-y: 50px;
    background-size: cover;
    background-image: url('https://c.wallhere.com/photos/75/4b/1920x1080_px_Cartoon_Network_Courage_The_Cowardly_Dog_Dexters_Laboratory_digital_art_Doo_Johnny_Bravo_movies-822327.jpg!d');
    border-radius: 0 0 50px 50px;
    box-shadow: 0 15px 30px rgba(2, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
}

header {
    width: 100%;
    height: 100%;
    background-color: #e3fafffc;
    /*background-position: top 50px bottom 50px;*/
}

nav {
    height: 60px;
    /*border: 1px solid red;*/
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(40deg, #53ff98, #5aadff, #5f41f5);
    
}

nav ul {
    display: flex;
    list-style: none;
    width: 300px;
    /*border: 1px solid red;*/
    justify-content: space-between;
    
}

nav li {

    text-align: center;
    padding: 5px 15px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li:hover {
    background-color: #ffd1d14d;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.logo {
    text-align: center;
}

.logo h1 {
    width: 180px;
    margin-left: 100px;
    background: linear-gradient(#0b34ff, #02dcce, #04b7e8);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 0px #0727fa;
    font-size: 26px;
}

.changecontent::after{
    display: block;
    content: ' ';
    background: linear-gradient(#006aff, #28adff, #3794ff);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 5px 1px #acfcff;
    animation: changetext 10s infinite linear;
}

@keyframes changetext{
    0% {content: "The Powerpuff Girls";}
    30% {content: "Tom and Jerry";}
    45% {content: "Scooby-Doo!";}
    60% {content: "My Little Pony";}
    75% {content: "Courage the Cowardly Dog";}
    100% {content: "Looney Tunes";}
}

/*.nav-login {
    text-align: center;
    width: 160px;
    background: linear-gradient(40deg, #4ef3ff8a, #79beff);
    height: 26px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.nav-login:hover {
    border-radius: 25px;
    transition: 0.4s;
    transform: translateY(-3px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.nav-login a {
    color: #e9f9ff;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
*/
.header-info {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: auto;
    /*border: 1px solid red;*/
}

.header-title h1 {
    font-size: 100px;
    color: #54a7ff;
    text-shadow: 10px 15px 15px black;
}

.header-content p {
    color: #fff;
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    text-shadow: 2px 2px 2px black;
}

.about-heading {
    color: var(--orange);
    text-align: left;
    padding: 0 100px;
    padding-top: 80px;
    letter-spacing: 2px;
}

.about-title {
    padding: 0 100px;
    padding-top: 5px;
    font-size: 50px;
    text-align: left;
    background: linear-gradient(#0a37ff, #5c7aff, #fbb1bd);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.about-text {
    padding: 0 100px;
    padding-top: 5px;
    font-size: 18px;
    text-align: left;
    color: #000000;
}

.container-about {
    margin: 20px 195px;
    display: flex;
    flex-wrap: wrap;
}

.container-about a {
    text-decoration: none;
    color: #ffffff;
}

.box1 {
    background-size: cover;
    background-image: url('https://i.pinimg.com/736x/60/2e/ec/602eec8b3e889d83e3fa5f222a294ee9.jpg');
}

.box2 {
    background-size: cover;
    background-image: url('https://i.pinimg.com/736x/bd/37/fe/bd37fe652808d7fda3991c14d746fd48.jpg');
}

.box3 {
    background-size: cover;
    background-image: url('https://i.pinimg.com/736x/c4/78/9c/c4789c05f20a77325d39ba3f115ee5a0.jpg');
}

.box1, .box2,
.box3 {
    margin: 20px;
    height: 25rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 1rem 0.9rem rgb(0, 0, 0, 5);
}

.box1:hover, .box2:hover,
.box3:hover {
    border-radius: 25px;
    transition: 0.4s;
    transform: translateY(-3px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.box1 h2, .box2 h2,
.box3 h2 {
    background: linear-gradient(40deg, #53ff98, #5aadff, #5f41f5);
    border-radius: 0 0 25px 25px;
    padding: 10px 0 20px 0;
    margin: 350px 0 0 0;
    font-family: "Mali", cursive;
    font-weight: 900;
}

.about-btn {
    margin-top: 30px;
    padding: 20px 0px 20px 650px;
}

.about-btn a {
    display: inline-block;
}

.about-learnmore {
    background: linear-gradient(40deg, #3606f4, #08daff);
    color: #e2f1ff;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)
}

.about-learnmore:hover {
    border-radius: 25px;
    transition: 0.4s;
    transform: translateY(-3px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

hr {
    margin-top: 50px;
    border-top: 1px solid #e2f1ff;
}

.travel-heading {
    color: var(--orange);
    text-align: left;
    padding: 0 100px;
    padding-top: 50px;
    letter-spacing: 2px;
}

.travel-title {
    padding: 0 100px;
    padding-top: 5px;
    font-size: 50px;
    text-align: left;
    background: linear-gradient(#0a37ff, #5c7aff, #fbb1bd);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.container-travel {
    margin: 20px 195px;
    display: flex;
    flex-wrap: wrap;
}

.container-travel a {
    text-decoration: none;
    color: #ffffff;
}

.box4 {
    background-size: cover;
    background-image: url('https://i.pinimg.com/736x/2d/dc/b6/2ddcb66d7f3dbbebf2993afded0c3ab2.jpg');
}

.box5 {
    background-size: cover;
    background-image: url('https://i.pinimg.com/736x/91/74/39/917439fc6c600c5e6f3299e7f1e1894e.jpg');
}

.box6 {
    background-size: cover;
    background-image: url('https://i.pinimg.com/736x/1e/d4/66/1ed4663c7900faae907ce045a05ebb3c.jpg');
}

.box7 {
    background-size: cover;
    background-image: url('https://i.pinimg.com/736x/30/44/d5/3044d5a17b9eee432d90ab951185942e.jpg');
}

.box8 {
    background-size: cover;
    background-image: url('https://i.pinimg.com/736x/94/97/8f/94978ff90343d765ed03e11bcdb1440f.jpg');
}

.box9 {
    background-size: cover;
    background-image: url('https://i.pinimg.com/736x/4e/83/19/4e8319b11426c44930a096b914708d66.jpg');
}

.box4, .box5, .box6, 
.box7, .box8, .box9 {
    margin: 20px;
    height: 25rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 1rem 0.9rem rgb(0, 0, 0, 5);
}

.box4:hover, .box5:hover, .box6:hover,
.box7:hover, .box8:hover, .box9:hover {
    border-radius: 25px;
    transition: 0.4s;
    transform: translateY(-3px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.box4 h2, .box5 h2, .box6 h2,
.box7 h2, .box8 h2, .box9 h2 {
    background: linear-gradient(40deg, #53ff98, #5aadff, #5f41f5);
    border-radius: 0 0 25px 25px;
    padding: 20px 0 20px 0;
    margin: 350px 0 0 0;
    font-weight: 900;
}

.cartoon-heading {
    color: var(--orange);
    text-align: left;
    padding: 0 100px;
    padding-top: 50px;
    letter-spacing: 2px;
}

.cartoon-title {
    padding: 0 100px;
    padding-top: 5px;
    font-size: 50px;
    text-align: left;
    background: linear-gradient(#0a37ff, #5c7aff, #fbb1bd);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.container-cartoon {
    margin: 20px 195px;
    display: flex;
    flex-wrap: wrap;
}

.container-cartoon a {
    text-decoration: none;
    color: #ffffff;
}

.box10 {
    background-size: cover;
    background-image: url('https://i.pinimg.com/736x/7f/7e/c6/7f7ec67bf5b5d452b48a32417509836a.jpg');
}

.box11 {
    background-size: cover;
    background-image: url('https://m.media-amazon.com/images/M/MV5BYTkxM2YzYTYtODY1OS00NjFjLWFiNTgtNDI0MjY4N2FkNjY5XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg');
}

.box12 {
    background-size: cover;
    background-image: url('https://i.pinimg.com/736x/89/62/77/896277d38b0e48dcd3a20b215fe904ba.jpg');
}


.box10, .box11, .box12 {
    margin: 20px;
    height: 25rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 1rem 0.9rem rgb(0, 0, 0, 5);
}

.box10:hover, .box11:hover, .box12:hover {
    border-radius: 25px;
    transition: 0.4s;
    transform: translateY(-3px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.box10 h2, .box11 h2, .box12 h2 {
    background: linear-gradient(40deg,#53ff98, #5aadff, #5f41f5);;
    border-radius: 0 0 25px 25px;
    padding: 20px 0 20px 0;
    margin: 350px 0 0 0;
    font-weight: 900;
}

.cartoon-btn {
    margin-top: 30px;
    padding: 20px 0px 20px 650px;
}

.cartoon-btn a {
    display: inline-block;
}

.cartoon-learnmore {
    background: linear-gradient(40deg, #0059ff, #4ec7ff);
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)
}

.cartoon-learnmore:hover {
    border-radius: 25px;
    transition: 0.4s;
    transform: translateY(-3px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/*.header-btn {
    margin-top: 30px;
}

.header-btn a {
    display: inline-block;
}

.header-learnmore {
    background: linear-gradient(40deg, #f48c06, #ffba08);
    color: #d00000;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
}

.header-learnmore:hover {
    border-radius: 25px;
    transition: 0.4s;
    transform: translateY(-3px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}*/

footer {
    height: 250px;
    margin-top: 10%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(40deg,#53ff98, #5aadff, #5f41f5);
}

.container-footer {
    width: 100%;
    padding: 5px 30px 30px;
}

.social-icon {
    display: flex;
    justify-content: center;
}

.social-icon a {
    text-decoration: none;
    padding: 5px;
    border-radius: 30px;
    color: #0263ff;
}

.social-icon a:hover {
    background-color: #ffd1d14d;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
}

.nav-footer {
    margin: 20px 0;
}

.nav-footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-footer li:hover {
    background-color: #ffd1d14d;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
}

.nav-footer ul li a {
    color: white;
    margin: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.footer-btn {
    text-align: center;
}

.footer-btn p {
    color: white;
    padding: 5px;
}

.designer {
    color: #0263ff;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    nav ul li{
        width: 100%;
        text-align: center;
        margin: 8px;
    }
    .container{
        width: 100%;
    }
    .container-box{
        width: 100%;
        margin: 8px;
    }
    .nav-footer ul{
        flex-direction: column;
    }
    .nav-footer ul li{
        width: 100%;
        text-align: center;
        margin: 5px;
    }
    .about{
        width: 100%;
        text-align: center;
    }
}




